@using KutuphaneOtomasyonu.Models.Entity
@model List<Mesaj>
@{
    ViewBag.Title = "GönderilenMesaj";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Giden Kutusu</h2>

<table class="table table-bordered">
    <tr>
        <td>ALICI</td>
        <td>KONU</td>
        <td>MESAJ</td>
        <td>Tarih</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Alici</td>
            <td>@x.Konu</td>
            <td>@x.Icerik</td>
            <td>@x.Tarih</td>
        </tr>
    }
</table>

