@model KutuphaneOtomasyonu.Models.Entity.Mesaj
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<title>KÜTÜPHANE OTOMASYON SİSTEMİ</title>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Alıcı</label>
        @Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Konu</label>
        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>İçerik</label>
        @Html.TextAreaFor(x => x.Icerik, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Gönder</button>
    </div>
</form>
