@model KutuphaneOtomasyonu.Models.Entity.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>KÜTÜPHANE OTOMASYON SİSTEMİ</title>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Personel Adı</label>
        @*@"<input type="text" class="form-control" name="Personel1" />"@*@
        @Html.TextBoxFor(x => x.Personel1, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Personel1, "", new {@style="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Personel Ekle</button>
    </div>
</form>

