
@{
    ViewBag.Title = "HavaDurumKartı";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>KÜTÜPHANE OTOMASYON SİSTEMİ</title>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d1929d06/bursa/" data-label_1="BURSA" data-label_2="HAVA DURUMU" data-theme="original">BURSA HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d1428d81/nilufer/" data-label_1="NILÜFER" data-label_2="HAVA DURUMU" data-theme="original">NILÜFER HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d1829d02/osmangazi/" data-label_1="OSMANGAZI" data-label_2="HAVA DURUMU" data-theme="original">OSMANGAZI HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d1829d16/yildirim/" data-label_1="YILDIRIM" data-label_2="HAVA DURUMU" data-theme="original">YILDIRIM WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d2629d65/yenisehir/" data-label_1="YENIŞEHIR" data-label_2="HAVA DURUMU" data-theme="original">YENIŞEHIR WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d0428d41/mustafakemalpasa/" data-label_1="MUSTAFAKEMALPAŞA" data-label_2="HAVA DURUMU" data-theme="original">MUSTAFAKEMALPAŞA HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>