@model KutuphaneOtomasyonu.Models.Entity.Duyuru
@{
    ViewBag.Title = "DuyuruEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<title>KÜTÜPHANE OTOMASYON SİSTEMİ</title>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kategori</label>
        @Html.TextBoxFor(x=>x.Kategori, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>İçerik</label>
        @Html.TextBoxFor(x => x.Icerik, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Tarih</label>
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Duyuru Ekle</button>
    </div>
</form>

